@import "tailwindcss";
@import "@nuxt/ui";

body {
  font-family: "Kantumruy Pro", sans-serif;
  color: var(--ui-text);
  background-color: var(--ui-bg);
}
body, :root {
  transition: color 1s ease, background-color 1s ease;
}

* {
  transition: color 1s ease, background-color 1s ease;
}
:root{
  --ui-primary: var(--ui-color-primary-700); 
  
}
.dark {
  --ui-primary: var(--ui-color-primary-200); /* Dark mode primary */
}